/*************************** 
   ------ Imports ------
****************************/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Navbar Opacity Transition

.nav-hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

// Footer Styles

.footer-color {
  background-color: hsl(168, 43%, 66%);
}

.footer-logo path {
  fill: hsl(167, 40%, 24%);
}

.footer-sns-links > li:hover {
  color: white;
}

/**************************************
  --- Media Queries ---- Mobile First
***************************************/

@media (max-width: 767px) {
  #navbar-toggle {
    display: block;
  }

  #navbar-menu {
    display: none;
  }

  #navbar-menu li {
    color: hsl(232, 10%, 55%);
  }

  //Mobile Toggle Menu Custom "Pointer" Arrow Style
  .navbar-custom-design::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 40px;
    height: 30px;
    background: white;
    clip-path: polygon(100% 0%, 0% 150%, 100% 100%);
  }

  .graphic-banner {
    height: 30rem;
    background-image: url("images/mobile/image-graphic-design.jpg");
  }

  .photo-banner {
    height: 30rem;
    background-image: url("images/mobile/image-photography.jpg");
  }

  .hero {
    background-image: url("/images/mobile/image-header.jpg");
    height: 100vh;
  }

  .contact-btn {
    background-color: hsl(51, 100%, 49%);
  }
}

/**************************************
  --- Media Queries ---- Tablet
***************************************/
@media (min-width: 768px) {
  #navbar-toggle {
    display: none;
  }

  #navbar-menu {
    display: flex !important;
  }

  .hero {
    background-image: url("images/desktop/image-header.jpg");
  }

  .contact-btn {
    background-color: hsl(0, 0%, 100%);
  }

  //Switch to Desktop Images
  .graphic-banner {
    background-image: url("images/desktop/image-graphic-design.jpg");
    height: 30rem;
  }

  .photo-banner {
    background-image: url("images/desktop/image-photography.jpg");
    height: 30rem;
  }
}

/**************************************
  --- Media Queries ---- Desktop
***************************************/
@media screen and (min-width: 1440px) {
  .main-wrapper {
    width: 81vw;
    margin: 0 auto;
  }

  .graphic-banner {
    height: 35rem;
  }

  .photo-banner {
    height: 35rem;
  }
}

@media screen and (min-width: 1800px) {
  .main-wrapper {
    width: 65vw;
    margin: 0 auto;
  }
}
